:root {
    --light-red: hsl(0, 100%, 67%);
    --orangy-yellow: hsl(39,100%,56%);
    --green-teal: hsl(166,100%,37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --primary-gradient-bg: hsl(252, 100%, 67%);
    --secondary-gradient-bg: hsl(241, 81%, 54%);

    --primary-gradient-circle: hsla(256, 72%, 46%, 1);
    --secondary-gradient-circle: hsla(241, 72%, 46%, 0);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavander: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Hanken Grotesk';
}

p {
    font-size: 1.125rem;
}
